.project--tech{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.project--tech-used{
    margin: 1rem;
    padding: 1rem;
    width: 100px;
    height: 100px;
    filter:invert(100%);
    transition: all ease-in-out 0.25s;
}
.project--tech-used:hover{
    filter:contrast(5%);
    transform: scale(1.2);
}