.content--wrap{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--first-color);   
    color: var(--second-color);
}

.info--name{
    font-size: 2rem;
}


.info--links{
    position: relative;
    top:2000px;
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
    font-size: 1.5rem;
    animation: up 2s forwards;
    animation-delay: 2s;
   
}
.info--links p{
    cursor: pointer;
    transition:all ease-in-out 0.3s;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

}
.info--links p:hover{
    background-size: 100% 2px;
    }
.info--job{
    animation-name: textShadow;
    animation-duration: 3s;
   animation-delay:1.3s;  
}
.info--main-name{
    position: relative;
    left:2000px;
    animation: slide 1.5s forwards;
    animation-delay: 2s;
}

@keyframes textShadow{
    0%{
        text-shadow: 10px 10px 10px #ccc;
    }
    100%{
        color:inherit;
        text-shadow: none;
    }
}


@keyframes slide {
    100% {
      left:0px;
    }
    100% {
      left:0px;
    }
  }
  @keyframes up {
      100%{
          top:0;
      }
      100%{
          top:0;
      }
  }

  @media screen and (max-width:600px){   
.info--name, .info--links{
    font-size: 1rem;
}
  }