*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;   
  text-decoration: none;
  list-style: none;
}
a {
  color:inherit;
}
:root{
  --first-color:#154360 ;
  --second-color:#FDF2E9;
}